<h3>Tenants</h3>
<% current_user(session).tenants.each do |tenant| %>
    <h4><a href = "/tenants/<%= tenant.id %>"><%= tenant.org_name %></a></h4>
    <p><%= tenant.org_address %><br>
        <%= tenant.org_city %>, <%= tenant.org_state %> <%= tenant.org_zip %><br></p>
    <% end %>
<a href = "/tenants/new" class = "btn btn-light btn-block med-block" role = "button">Create Tenant</a>