<h1>Tenant Information</h1>
<h3><%= @tenant.org_name %></h3>
<p><%= @tenant.org_address %><br>
<%= @tenant.org_city %>, <%= @tenant.org_state %> <%= @tenant.org_zip %><br><br>
Type: <%= @tenant.org_type %></p>
<table>
    <tr>
        <td>POC:</td>
        <td><%= @tenant.poc_name %></td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td><%= @tenant.poc_phone %></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><%= @tenant.poc_email %></td>
    </tr>
</table>
<table>
    <tr>
        <td><form method = "GET" action = "/tenants/<%= @tenant.id %>/edit">
            <button type = "submit" class = "btn btn-light btn-sm">
            </form></td>
        <td><form method = "GET" action = "/tenants/<%= @tenant.id %>/delete">
            <button type = "submit" class = "btn btn-light btn-sm">
            </form></td>
    </tr>
</table>

<h3>Upcoming Bookings</h3>
    <% if @tenant.bookings.select { |b| b.date > Date.today }.empty? %>
        <p>No upcoming bookings.</p>
    <% else %>
        <table>
        <% @tenant.bookings.select { |b| b.date > Date.today }.sort_by { |b| b.date }.each do |booking| %>
                <tr><td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.venue.name %></a></td></tr>
        <% end %>
        </table>
    <% end %>
<h3>Previous Bookings</h3>
    <% if @tenant.bookings.select { |b| b.date < Date.today }.empty? %>
        <p>No previous bookings.</p>
    <% else %>
        <table>
        <% @tenant.bookings.select { |b| b.date < Date.today }.sort_by { |b| b.date }.each do |booking| %>
                <tr><td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.venue.name %></a></td></tr>
        <% end %>
        </table>
    <% end%>

<form method = "GET" action = "/bookings/new">
<button type = "submit" class = "btn btn-light btn-sm">Create New Booking</button>
</form>