<h1>Tenant Information</h1>
<h3><%= @tenant.org_name %></h3>
<p><%= @tenant.org_address %><br>
<%= @tenant.org_city %>, <%= @tenant.org_state %> <%= @tenant.org_zip %><br><br>
Type: <%= @tenant.org_type %></p>
<table>
    <tr>
        <td>Point of Contact:</td>
        <td><%= @tenant.poc_name %></td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td><%= @tenant.poc_phone %></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><%= @tenant.poc_email %></td>
    </tr>
</table>
<p><a href = "/tenants/<%= @tenant.id %>/edit">Edit Tenant</a></p>
<p><a href = "/tenants/<%= @tenant.id %>/delete">Delete Tenant</a></p>