<h3><%= @tenant.org_name %></h3>
<p><%= @tenant.org_address %><br>
<%= @tenant.org_city %>, <%= @tenant.org_state %> <%= @tenant.org_zip %></p>
<h4><%= @tenant.org_type.capitalize %></h4>
<p>Type</p>
<h4><%= @tenant.poc_name %></h4>
<p>Point of Contact</p>
<h4><%= @tenant.poc_email %></h4>
<p>Email</p>
<h4><%= @tenant.poc_phone %></h4>
<p>Phone</p>
<div>
    <div class ="row">
        <div class = "col">
            <a href = "/tenants/<%= @tenant.id %>/edit" class = "btn btn-light btn-block" role = "button">Edit</a>
        </div>
        <div class ="col">
            <form method = "POST" action = "/tenants/<%= @tenant.id %>">
                <input type = "hidden" id = "hidden" name = "_method" value = "DELETE">
                <input type = "submit" class = "btn btn-light btn-block" value = "Delete">
            </form>
        </div>
    </div>
</div>
<br>
<h3>Upcoming Bookings</h3>
    <% if @tenant.bookings.select { |b| b.date > Date.today }.empty? %>
        <p>No upcoming bookings.</p>
    <% else %>
        <table>
        <% @tenant.bookings.select { |b| b.date > Date.today }.sort_by { |b| b.date }.each do |booking| %>
                <tr><td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.venue.name %></a></td></tr>
        <% end %>
        </table>
    <% end %>
<br>
<h3>Previous Bookings</h3>
    <% if @tenant.bookings.select { |b| b.date < Date.today }.empty? %>
        <p>No previous bookings.</p>
    <% else %>
        <table>
        <% @tenant.bookings.select { |b| b.date < Date.today }.sort_by { |b| b.date }.each do |booking| %>
                <tr><td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.venue.name %></a></td></tr>
        <% end %>
        </table>
    <% end%>

<a href = "/bookings/new" class = "btn btn-light btn-block med-block" role = "button">Create Booking</a>