<h4><a href = "/venues/<%= @inventory.venue.id %>"><%= @inventory.venue.name %></a></h4>
<h3><%= @inventory.name %></h3>
<p><%= @inventory.description %></p>
<div>
    <div class = "row">
        <div class = "col">
            <a class="btn btn-light btn-block" href="/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/edit" role="button">Edit Settings</a>
        </div>
        <div class = "col">
            <form method = "POST" action = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>">
                <input type = "hidden" id = "hidden" name = "_method" value = "DELETE">
                <input type = "submit" class = "btn btn-light btn-block" value = "Delete Inventory">
            </form>
        </div>
    </div>
</div>
<br>
<% if @inventory.items.empty? %>
    <p>No items in inventory. <br><br>
<% else %>
    <div class = "table-responsive">
        <table class = "table table-light table-striped">
            <thead>
                <tr>
                    <th scope = "col">Item</th>
                    <th scope = "col">Quantity</th>
                    <th scope = "col">Category</th>
                    <th scope = "col">Description</th>
                    <th scope = "col">Update</th>
                </tr>
            </thead>
            <tbody>
            <% @inventory.items.each do |item| %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.category %></td>
                    <td><%= item.description %></td>
                    <td><a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/<%= item.id %>/edit">Edit</a> | 
                        <form method = "POST" action = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/<%= item.id %>">
                            <input type = "hidden" id = "hidden" name = "_method" value = "DELETE">
                            <input type = "submit" class = "link-button" value = "Delete">
                        </form></td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
<% end %>
<a class="btn btn-light btn-block med-block" role = "button" href ="/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/new">Add Item</a></p>
