<h4><a href = "/venues/<%= @inventory.venue.id %>"><%= @inventory.venue.name %></a></h4>
<h3><%= @inventory.name %></h3>
<p><%= @inventory.description %></p>
<a class="btn btn-light btn-block med-block" href="/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/edit" role="button">Edit Settings</a>
<a class="btn btn-light btn-block med-block" href="/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/delete" role="button">Delete Inventory</a>
<br>
<% if @inventory.items.empty? %>
    <p>No items in inventory. <br><br>
<% else %>
    <table>
        <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Description</th>
            <th></th>
        </tr>
        <% @inventory.items.each do |item| %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.category %></td>
                <td class = "center"><%= item.quantity %></td>
                <td><%= item.description %></td>
                <td><a class="btn btn-light btn-sm" role="button" href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/<%= item.id %>/edit">Edit Item</a> 
                    <a class="btn btn-light btn-sm" role="button" href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/<%= item.id %>/delete">Delete Item</a></td>
            </tr>
        <% end %>
        </table>
<% end %>
<a class="btn btn-light btn-block med-block" role = "button" href ="/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/new">Add Item</a></p>
