<h3><a href = "/venues/<%= @inventory.venue.id %>"><%= @inventory.venue.name %></a></h2>
<h1><%= @inventory.name %></h1>
<p><%= @inventory.description %></p>
<p><a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/edit">Edit Settings</a> <a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/delete">Delete Inventory</a></p>
<% if @inventory.items.empty? %>
    <p>No items in inventory. Create new items <a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/new">here</a>.</p>
<% else %>
    <p><a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/new">Add Item</a></p>
    <table>
        <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Description</th>
        </tr>
        <% @inventory.items.each do |item| %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.category %></td>
                <td class = "center"><%= item.quantity %></td>
                <td><%= item.description %></td>
                <td><a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/<%= item.id %>/edit">Edit</a> 
                    <a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/<%= item.id %>/delete">Delete</a></td>
            </tr>
        <% end %>
    </table>
<% end %>