<h1><%= @inventory.name %></h1>
<p><%= @inventory.description %></p>
<table>
    <tr>
        <th>Item Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Description</th>
    </tr>
    <% @inventory.items.each do |item| %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.category %></td>
            <td><%= item.quantity %></td>
            <td><%= item.description %></td>
        </tr>
    <% end %>
</table>