<h3><a href = "/venues/<%= @inventory.venue.id %>"><%= @inventory.venue.name %></a></h2>
<h1><%= @inventory.name %></h1>
<p><%= @inventory.description %></p>
        <table>
            <tr>
                <td><form method = "GET" action = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/edit">
                    <button type = "submit" class = "btn btn-light btn-sm">Edit Settings</button>
                    </form></td>
                <td><form method = "GET" action = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/delete">
                    <button type = "submit" class = "btn btn-light btn-sm">Delete Inventory</button>
                    </form></td>
            </tr>
        </table>
<% if @inventory.items.empty? %>
    <p>No items in inventory. Create new items <a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/new">here</a>.</p>
<% else %>
    <table>
        <tr>
            <th>Item Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Description</th>
        </tr>
        <% @inventory.items.each do |item| %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.category %></td>
                <td class = "center"><%= item.quantity %></td>
                <td><%= item.description %></td>
                <td><a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/<%= item.id %>/edit">Edit Item</a> 
                    <a href = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/<%= item.id %>/delete">Delete Item</a></td>
            </tr>
        <% end %>
        </table>
        <br>
            <form method = "GET" action = "/venues/<%= @venue.id %>/inventories/<%= @inventory.id %>/items/new">
                    <button type = "submit" class = "btn btn-light btn-sm">Add Item</button>
                    </form>
<% end %>
