<h3>Active Employees</h3>
<p>
<%= 'No active employees.' if current_user(session).employees.select { |e| e.active == true }.empty? %>
<% current_user(session).employees.sort_by{ |e| e.last_name }.each do |employee| %>
    <% if employee.active == true %>
            <a href = "/employees/<%= employee.id %>"><%= employee.last_name %>, <%= employee.first_name %></a><br>
    <% end %>
<% end %>
</p>
<h3>Inactive Employees</h3>
<p>
<%= 'No inactive employees.' if current_user(session).employees.select { |e| e.active == false }.empty? %>
<% current_user(session).employees.sort_by{ |e| e.last_name }.each do |employee| %>
    <% if employee.active == false %>
            <a href = "/employees/<%= employee.id %>"><%= employee.last_name %>, <%= employee.first_name %></a><br>
    <% end %>
<% end %>
</p>
<a href = "/employees/new" role="button" class = "btn btn-light btn-block med-block">Create Employee</a>