<h3>Bookings</h3>
<% current_user(session).venues.each do |venue| %>
<h4><a href = "/venues/<%= venue.id %>"><%= venue.name %></a></h4>
    <p><%= 'No current bookings.' if venue.bookings.empty? %></p>
        <% venue.bookings.sort_by {|b| b.date }.each do |booking| %>
            <a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.tenant.org_name %></a>
        <% end %>
<% end %>
<br><br>
<a href ="/bookings/new" role ="button" class = "btn btn-light btn-block med-block">Create Booking</a>