<% if is_logged_in?(session) && current_user(session).bookings.include?(@booking) %>
<h1>Booking Information</h1>
<p>Tenant: <%= @booking.tenant.org_name %></p>
<p>Venue: <%= @booking.venue.name %></p>
<p>Type: <%= @booking.type %></p>
<p>Date: <%= @booking.date %></p>
<p>Time: <%= @booking.time %></p>
<p>Description: <%= @booking.description %></p>
<p>Attendance: <%= @booking.attendance %></p>
<p>Food: <%= @booking.food ? 'Yes' : 'No' %></p>
<p>Alcohol: <%= @booking.alcohol ? 'Yes' : 'No' %></p>
<p>Stage Lighting: <%= @booking.lighting ? 'Yes' : 'No' %></p>
<p>Amplified Sound: <%= @booking.sound ? 'Yes' : 'No' %></p>
<p>Microphones: <%= @booking.microphones ? 'Yes' : 'No' %></p>
<p>Street Closure: <%= @booking.street_closure ? 'Yes' : 'No' %></p>
<p>Spotlight: <%= @booking.spotlight ? 'Yes' : 'No' %></p>
<p>Curtain: <%= @booking.curtain ? 'Yes' : 'No' %></p>
<p>Event Security: <%= @booking.security ? 'Yes' : 'No' %></p>
<p>Contract Signed: <%= @booking.contract ? 'Yes' : 'No' %></p>
<p>Deposit Paid: <%= @booking.deposit ? 'Yes' : 'No' %></p>
<p>Paid in Full: <%= @booking.paid ? 'Yes' : 'No' %></p>
<br><br>
<a href = "/bookings/<%= @booking.id %>/edit">Edit Booking</a>
<a href = "/bookings/<%= @booking.id %>/delete">Delete Booking</a>
<% else %>
<% redirect to '/home'%>
<% end %>