<h1>Booking Information</h1>
<table id = "booking_table">
    <tr>
        <td>Tenant:</td>
        <td><a href = "/tenants/<%= @booking.tenant.id %>"><%= @booking.tenant.org_name %></a></td>
    </tr>
    <tr>
        <td>Event Name:</td>
        <td><%= @booking.name %></td>
    <tr>
        <td>Venue:</td>
        <td><a href = "/venues/<%= @booking.venue.id %>"><%= @booking.venue.name %></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td><%= @booking.event_type %></td>
    </tr>
    <tr>
        <td>Date:</td>
        <td><%= @booking.date %></td>
    </tr>
    <tr>
        <td>Time:</td>
        <td><%= @booking.time %></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><%= @booking.description %></td>
    </tr>
    <tr>
        <td>Employees:</td>
        <td><% @booking.employees.each do |employee| %>
                <a href = "/employees/<%= employee.id %>"><%= employee.first_name + ' ' + employee.last_name %></a><br>
            <% end %></td>
    </tr>
    <tr>
        <td>Attendance:</td>
        <td><%= @booking.attendance %></td>
    </tr>
    <tr>
        <td>Food:</td>
        <td><%= @booking.food ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Alcohol:</td>
        <td><%= @booking.alcohol ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Stage Lighting:</td>
        <td><%= @booking.lighting ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Spotlight:</td>
        <td><%= @booking.spotlight ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Amplified Sound:</td>
        <td><%= @booking.sound ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Microphones:</td>
        <td><%= @booking.microphones ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Curtain:</td>
        <td><%= @booking.curtain ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Street Closure:</td>
        <td><%= @booking.street_closure ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Event Security:</td>
        <td><%= @booking.security ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Contract Signed:</td>
        <td><%= @booking.contract ? 'Yes' : 'No' %></td>
    <tr>
        <td>Deposit Paid:</td>
        <td><%= @booking.deposit ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
        <td>Paid in Full:</td>
        <td><%= @booking.paid ? 'Yes' : 'No' %></td>
    </tr>
</table>
<p><a href = "/bookings/<%= @booking.id %>/edit">Edit</a> <a href = "/bookings/<%= @booking.id %>/delete">Delete</a></p>
