<h3>Booking Information</h3>
<h4><%= @booking.name %></h4>
<p><%= @booking.venue.name %><br>
<%= @booking.date %>, <%= @booking.time %></p>

<h4><a href = "/tenants/<%= @booking.tenant.id %>"><%= @booking.tenant.org_name %></a></h4>
<p>Tenant</p>
<h4><%= @booking.event_type %></h4>
<p>Type</a>
<h4><%= @booking.attendance %></h4>
<p>Attendance</a>
<h4>Notes</h4>
<p><%=  @booking.description %></p>
<h4>Tags</h4>
<ul>
    <%= '<li>Catering</li>' if @booking.food %>
    <%= '<li>Alcohol</li>' if @booking.alcohol %>
    <%= '<li>Stage Lighting</li>' if @booking.lighting %>
    <%= '<li>Spotlight</li>' if @booking.spotlight %>
    <%= '<li>Amplified Sound</li>' if @booking.sound %>
    <%= '<li>Microphones</li>' if @booking.microphones %>
    <%= '<li>Curtain</li>' if @booking.curtain %>
    <%= '<li>Street Closure</li>' if @booking.street_closure %>
    <%= '<li>Event Security</li>' if @booking.security %>
</ul>
<div>
    <div class = "row">
        <div class = "col">
            <h4>Status</h4>
            <ul>
                <%= '<li>Contract signed</li>' if @booking.contract %>
                <%= '<li>Deposit paid</li>' if @booking.deposit %>
                <%= '<li>Paid in full</li>' if @booking.paid %>
            </ul>
        </div>
        <div class = "col">
            <h4>Shift Coverage</h4>
            <ul>
                <% @booking.employees.each do |e| %>
                    <%= "<li>#{e.first_name + ' ' + e.last_name}</li>" %>
                <% end %>
            </ul>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <a href = "/bookings/<%= @booking.id %>/edit" role = "button" class ="btn btn-light btn-block">Edit</a>
        </div>
        <div class = "col">
            <a href = "/bookings/<%= @booking.id %>/delete" role = "button" class= "btn btn-light btn-block">Delete</a>
        </div>
    </div>
</div>