<h1>Edit Booking</h1>
<form method = "POST" action = "/bookings/<%=@booking.id%>">
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
<table>
    <tr>
        <td><label for = "tenants">Tenant:</label></td>
        <td><select id="tenants" name="tenant_id" size="1">
            <% current_user(session).tenants.sort_by { |t| t.org_name }.each do |tenant| %>
                <option value = "<%= tenant.id%>" <%= 'selected' if @booking.tenant == tenant %> ><%= tenant.org_name %></option>
            <% end %>
            <option value = "0">Create New</option>
            </select></td>
    </tr>
    <tr>
        <td><label for = "new_tenant">New Tenant Name:</label></td>
        <td><input type = "text" id = "new_tenant" name = "new_tenant"></td>
    </tr>
    <tr>
        <td><label for = "venue_id">Venue:</label></td>
        <td><% current_user(session).venues.each do |venue|%>
                <input type = "radio" id = "venue_id" name = "venue_id" value = "<%= venue.id%>"  <%= 'checked' if @booking.venue == venue %>> <%= venue.name %><br>
            <% end %></td>
    </tr>
    <tr>
        <td><label for = "name">Event Name:</label></td>
        <td><input type = "text" id = "name" name = "name" value = "<%= @booking.name %>" required = "required"></td>
    </tr>
    <tr>
        <td><label for = "event_type">Event Type:</label></td>
        <td><input type = "radio" id = "event_type" name = "event_type" value = "Performance" <%= 'checked' if @booking.event_type == 'Performance'%>> Performance<br>
            <input type = "radio" id = "event_type" name = "event_type" value = "Lecture/Workshop" <%= 'checked' if @booking.event_type == 'Lecture/Workshop'%>> Lecture/Workshop<br>
            <input type = "radio" id = "event_type" name = "event_type" value = "Concert" <%= 'checked' if @booking.event_type == 'Concert'%>> Concert<br>
            <input type = "radio" id = "event_type" name = "event_type" value = "Reception/Fundraiser" <%= 'checked' if @booking.event_type == 'Reception/Fundraiser'%>> Reception/Fundraiser<br>
            <input type = "radio" id = "event_type" name = "event_type" value = "Other" <%= 'checked' if @booking.event_type == 'Other'%>> Other (describe below)<br></td>
    </tr>
    <tr>
        <td><label for = "date">Date:</label></td>
        <td><input type = "date" id = "date" name = "date" value = "<%= @booking.date %>" required = "required" placeholder = "YYYY-MM-DD" pattern = "\d\d\d\d-\d\d-\d\d"></td>
    </tr>
    <tr>
        <td><label for = "time">Time:</label></td>
        <td><input type = "time" id = "time" name = "time" value = "<%= @booking.time %>" required = "required" placeholder = "HH:MM:SS (24hr)" pattern = "\d\d:\d\d:\d\d"></td>
    </tr>
    <tr>
        <td><label for = "description">Description:</label></td>
        <td><textarea id = "description" name = "description"></textarea></td>
    </tr>
    <% if !current_user(session).employees.empty? %>
    <tr>
        <td<label for = "employee">Employees:</label></td>
        <td><% current_user(session).employees.all.each do |employee| %>
                <% if employee.active == true %>
                    <input type = "checkbox" id = "employee" name = "employee_list[]" value = "<%= employee.id %>" <%= 'checked' if @booking.employees.include?(employee)%> > <%= employee.first_name + ' ' + employee.last_name %><br>
                <% end %>
            <% end %></td>
    </tr>
    <% end %>
    <tr>
        <td><label for = "attendance">Attendance:</label></td>
        <td><input type = "number" id = "attendance" name = "attendance" value = "<%= @booking.attendance %>"></td>
    </tr>
    <tr>
        <td><label for = "food">Catering:</label></td>
        <td><input type = "radio" id = "food" name = "food" value = "true" <%= 'checked' if @booking.food == true %>>Yes<br>
            <input type = "radio" id = "food" name = "food" value = "false" <%= 'checked' if @booking.food == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "alcohol">Alcohol:</label></td>
        <td><input type = "radio" id = "alcohol" name = "alcohol" value = "true" <%= 'checked' if @booking.alcohol == true %>>Yes<br>
            <input type = "radio" id = "alcohol" name = "alcohol" value = "false" <%= 'checked' if @booking.alcohol == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "lighting">Stage Lighting:</label></td>
        <td><input type = "radio" id = "lighting" name = "lighting" value = "true" <%= 'checked' if @booking.lighting == true %>>Yes<br>
            <input type = "radio" id = "lighting" name = "lighting" value = "false" <%= 'checked' if @booking.lighting == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "spotlight">Spotlight:</label></td>
        <td><input type = "radio" id = "spotlight" name = "spotlight" value = "true" <%= 'checked' if @booking.spotlight == true %>>Yes<br>
            <input type = "radio" id = "spotlight" name = "spotlight" value = "false" <%= 'checked' if @booking.spotlight == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "sound">Amplified Sound:</label></td>
        <td><input type = "radio" id = "sound" name = "sound" value = "true" <%= 'checked' if @booking.sound == true %>>Yes<br>
            <input type = "radio" id = "sound" name = "sound" value = "false" <%= 'checked' if @booking.sound == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "microphones">Microphones:</label></td>
        <td><input type = "radio" id = "microphones" name = "microphones" value = "true" <%= 'checked' if @booking.microphones == true %>>Yes<br>
            <input type = "radio" id = "microphones" name = "microphones" value = "false" <%= 'checked' if @booking.microphones == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "curtain">Curtain:</label></td>
        <td><input type = "radio" id = "curtain" name = "curtain" value = "true" <%= 'checked' if @booking.curtain == true %>>Yes<br>
            <input type = "radio" id = "curtain" name = "curtain" value = "false" <%= 'checked' if @booking.curtain == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "street_closure">Street Closure:</label></td>
        <td><input type = "radio" id = "street_closure" name = "street_closure" value = "true" <%= 'checked' if @booking.street_closure == true %>>Yes<br>
            <input type = "radio" id = "street_closure" name = "street_closure" value = "false" <%= 'checked' if @booking.street_closure == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "security">Event Security:</label></td>
        <td><input type = "radio" id = "security" name = "security" value = "true" <%= 'checked' if @booking.security == true %>>Yes<br>
            <input type = "radio" id = "security" name = "security" value = "false" <%= 'checked' if @booking.security == false %>>No<br></td>
    </tr>
    <tr>
        <td><label for = "contract">Contract Signed?</label></td>
        <td><input type = "checkbox" id = "contract" name = "contract" value = "true" <%= 'checked' if @booking.contract == true %>></td>
    </tr>
    <tr>
        <td><label for = "deposit">Deposit Paid?</label></td>
        <td><input type = "checkbox" id = "deposit" name = "deposit" value = "true" <%= 'checked' if @booking.deposit == true %>></td>
    </tr>
    <tr>
        <td><label for = "paid">Paid in Full?</label></td>
        <td><input type = "checkbox" id = "paid" name = "paid" value = "true" <%= 'checked' if @booking.paid == true %>></td>
    </tr>
</table>
<input type = "submit" id = "submit" value = "Update">
</form>
