<h3>Edit Booking</h3>
<form method = "POST" action = "/bookings/<%=@booking.id%>">
    <input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
    <div class = "form-row">
        <div class = "form-group col-md-6">
            <label for = "tenants">Tenant</label>
            <select id="tenants" name="tenant_id" class = "form-control" size="1">
                <% current_user(session).tenants.sort_by { |t| t.org_name }.each do |tenant| %>
                    <option value = "<%= tenant.id%>" <%= 'selected' if @booking.tenant == tenant %>><%= tenant.org_name %></option>
                <% end %>
            <option value = "0">Create New</option>
            </select>
        </div>
        <div class = "form-group col-md-6">
            <label for = "new_tenant">New Tenant</label>
            <input type = "text" id = "new_tenant" class = "form-control" name = "new_tenant">
        </div>
    </div>
    <div class = "form-group">
        <label for = "name">Event Name</label>
        <input type = "text" id = "name" class = "form-control" name = "name" required = "required" value = "<%= @booking.name %>">
    </div>
    <div class = "form-row">
        <div class = "form-group col-md-4">
            <label for = "venue_id">Venue</label>
            <select id = "venue_id" class = "form-control" name = "venue_id" size = "1">
                <% current_user(session).venues.each do |venue|%>
                    <option value = "<%= venue.id%>" <%= 'selected' if @booking.venue == venue %>><%= venue.name %></option>
                <% end %>
            </select>
        </div>
        <div class = "form-group col-md-4">
            <label for = "event_type">Event Type</label>
            <select id = "event_type" class = "form-control" name = "event_type" size = "1">
                <option value = "Performance" <%= 'selected' if @booking.event_type == 'Performance' %>>Performance</option>
                <option value = "Lecture/Workshop" <%= 'selected' if @booking.event_type == 'Lecture/Workshop' %>>Lecture/Workshop</option>
                <option value = "Concert" <%= 'selected' if @booking.event_type == 'Concert' %>>Concert</option>
                <option value = "Reception/Fundraiser" <%= 'selected' if @booking.event_type == 'Reception/Fundraiser' %>>Reception/Fundraiser</option>
                <option value = "Other" <%= 'selected' if @booking.event_type == 'Other' %>>Other (describe below)</option>
            </select>
        </div>
        <div class = "form-group col-md-4">
            <label for = "attendance">Attendance</label>
            <input type = "number" id = "attendance" class = "form-control" name = "attendance" value = "<%= @booking.attendance %>">
        </div>
    </div>
    <div class = "form-row">
        <div class = "form-group col-md-6">
            <label for = "date">Date</label>
            <input type = "date" id = "date" class = "form-control" name = "date" required = "required" placeholder = "YYYY-MM-DD" pattern = "\d\d\d\d-\d\d-\d\d" value = "<%= @booking.date %>">
        </div>
        <div class = "form-group col-md-6">
            <label for = "time">Time</label>
            <input type = "time" id = "time" class = "form-control" name = "time" required = "required" placeholder = "HH:MM:SS (24 hr)" pattern = "\d\d:\d\d:\d\d" value = "<%= @booking.time %>">
        </div>
    </div>
    <div class = "form-group">
        <label for = "description">Description</label>
        <textarea id = "description" class = "form-control" name = "description"><%= @booking.description %></textarea>
    </div>
    <div class = "form-row">
        <div class = "col-md-4">
            <label for = "food">Catering</label>
            <select id = "food" class = "form-control" name = "food" size = "1">
                <option value = "false" <%= 'selected' if @booking.food == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.food == true %>>Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "alcohol">Alcohol</label>
            <select id = "alcohol" class = "form-control" name = "alcohol" size = "1">
                <option value = "false" <%= 'selected' if @booking.alcohol == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.alcohol == true %>>Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "lighting">Stage Lighting</label>
            <select id = "lighting" class = "form-control" name = "lighting" size = "1">
                <option value = "false" <%= 'selected' if @booking.lighting == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.lighting == true %>>Yes</option>
            </select>
        </div>
    </div>
    <br>
    <div class = "form-row">
        <div class = "col-md-4">
            <label for = "spotlight">Spotlight</label>
            <select id = "spotlight" class = "form-control" name = "spotlight" size = "1">
                <option value = "false" <%= 'selected' if @booking.spotlight == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.spotlight == true %>>Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "sound">Amplified Sound</label>
            <select id = "sound" class = "form-control" name = "sound" size = "1">
                <option value = "false" <%= 'selected' if @booking.sound == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.sound == true %>>Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "microphones">Microphones</label>
            <select id = "microphones" class = "form-control" name = "microphones" size = "1">
                <option value = "false" <%= 'selected' if @booking.microphones == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.microphones == true %>>Yes</option>
            </select>
        </div>
    </div>
    <br>
    <div class = "form-row">
        <div class = "col-md-4">
            <label for = "curtain">Curtain</label>
            <select id = "curtain" class = "form-control" name = "curtain" size = "1">
                <option value = "false" <%= 'selected' if @booking.curtain == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.curtain == true %>>Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "street_closure">Street Closure</label>
            <select id = "street_closure" class = "form-control" name = "street_closure" size = "1">
                <option value = "false" <%= 'selected' if @booking.street_closure == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.street_closure == true %>>Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "event_security">Event Security</label>
            <select id = "event_security" class = "form-control" name = "security" size = "1">
                <option value = "false" <%= 'selected' if @booking.security == false %>>No</option>
                <option value = "true" <%= 'selected' if @booking.security == true %>>Yes</option>
            </select>
        </div>
    </div>

    <br>
    <h4>Administration</h4>

    <div class = "row">
        <div class = "col">
            <h5>Status</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name = "contract" id="contract" <%= 'checked' if @booking.contract == true %>>
                <label class="form-check-label" for="contract">Contract signed?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name = "deposit" id="deposit" <%= 'checked' if @booking.deposit == true %>>
                <label class="form-check-label" for="deposit">Deposit paid?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name = "paid" id="paid" <%= 'checked' if @booking.paid == true %>>
                <label class="form-check-label" for="paid">Paid in full?</label>
            </div>
        </div>
        <div class = "col">
            <% if !current_user(session).employees.empty? %>
                <h5>Shift Coverage</h5>
                <% current_user(session).employees.select {|e| e.active == true }.each do |employee| %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="<%= employee.id %>" name = "employee_list[]" id="<%= employee.id %>" <%= 'checked' if @booking.employees.include?(employee) %>>
                        <label class="form-check-label" for="<%= employee.id %>"><%= employee.first_name + ' ' + employee.last_name %></label>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <button type = "submit" id = "submit"  class = "btn btn-light btn-sm">Update</button>
</form>
