<h3>Create Booking</h3>
<form method = "POST" action = "/bookings">
    <div class = "form-row">
        <div class = "form-group col-md-6">
            <label for = "tenants">Tenant</label>
            <select id="tenants" name="tenant_id" class = "form-control" size="1">
                <% current_user(session).tenants.sort_by { |t| t.org_name }.each do |tenant| %>
                    <option value = "<%= tenant.id%>" ><%= tenant.org_name %></option>
                <% end %>
            <option value = "0">Create New</option>
            </select>
        </div>
        <div class = "form-group col-md-6">
            <label for = "new_tenant">New Tenant</label>
            <input type = "text" id = "new_tenant" class = "form-control" name = "new_tenant">
        </div>
    </div>
    <div class = "form-group">
        <label for = "name">Event Name</label>
        <input type = "text" id = "name" class = "form-control" name = "name" required = "required">
    </div>
    <div class = "form-row">
        <div class = "form-group col-md-4">
            <label for = "venue_id">Venue</label>
            <select id = "venue_id" class = "form-control" name = "venue_id" size = "1">
                <% current_user(session).venues.each do |venue|%>
                    <option value = "<%= venue.id%>"><%= venue.name %></option>
                <% end %>
            </select>
        </div>
        <div class = "form-group col-md-4">
            <label for = "event_type">Event Type</label>
            <select id = "event_type" class = "form-control" name = "event_type" size = "1">
                <option value = "Performance">Performance</option>
                <option value = "Lecture/Workshop">Lecture/Workshop</option>
                <option value = "Concert">Concert</option>
                <option value = "Reception/Fundraiser">Reception/Fundraiser</option>
                <option value = "Other">Other (describe below)</option>
            </select>
        </div>
        <div class = "form-group col-md-4">
            <label for = "attendance">Attendance</label>
            <input type = "number" id = "attendance" class = "form-control" name = "attendance">
        </div>
    </div>
    <div class = "form-row">
        <div class = "form-group col-md-6">
            <label for = "date">Date</label>
            <input type = "date" id = "date" class = "form-control" name = "date" required = "required" placeholder = "YYYY-MM-DD" pattern = "\d\d\d\d-\d\d-\d\d">
        </div>
        <div class = "form-group col-md-6">
            <label for = "time">Time</label>
            <input type = "time" id = "time" class = "form-control" name = "time" required = "required" placeholder = "HH:MM:SS (24 hr)" pattern = "\d\d:\d\d:\d\d">
        </div>
    </div>
    <div class = "form-group">
        <label for = "description">Description</label>
        <textarea id = "description" class = "form-control" name = "description"></textarea>
    </div>
    <div class = "form-row">
        <div class = "col-md-4">
            <label for = "food">Catering</label>
            <select id = "food" class = "form-control" name = "food" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "alcohol">Alcohol</label>
            <select id = "alcohol" class = "form-control" name = "alcohol" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "lighting">Stage Lighting</label>
            <select id = "lighting" class = "form-control" name = "lighting" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
    </div>
    <br>
    <div class = "form-row">
        <div class = "col-md-4">
            <label for = "spotlight">Spotlight</label>
            <select id = "spotlight" class = "form-control" name = "spotlight" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "sound">Amplified Sound</label>
            <select id = "sound" class = "form-control" name = "sound" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "microphones">Microphones</label>
            <select id = "microphones" class = "form-control" name = "microphones" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
    </div>
    <br>
    <div class = "form-row">
        <div class = "col-md-4">
            <label for = "curtain">Curtain</label>
            <select id = "curtain" class = "form-control" name = "curtain" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "street_closure">Street Closure</label>
            <select id = "street_closure" class = "form-control" name = "street_closure" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
        <div class = "col-md-4">
            <label for = "event_security">Event Security</label>
            <select id = "event_security" class = "form-control" name = "event_security" size = "1">
                <option value = "false">No</option>
                <option value = "true">Yes</option>
            </select>
        </div>
    </div>

    <br>
    <h5>Administration</h5>

    <div class = "row">
        <div class = "col">
            <p>Status</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name = "contract" id="contract">
                <label class="form-check-label" for="contract">Contract signed?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name = "deposit" id="deposit">
                <label class="form-check-label" for="deposit">Deposit paid?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name = "paid" id="paid">
                <label class="form-check-label" for="paid">Paid in full?</label>
            </div>
        </div>
        <div class = "col">
            <% if !current_user(session).employees.empty? %>
                <p>Shift Coverage</p>
                <% current_user(session).employees.select {|e| e.active == true }.each do |employee| %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="<%= employee.id %>" name = "employee_list[]" id="<%= employee.id %>">
                        <label class="form-check-label" for="<%= employee.id %>"><%= employee.first_name + ' ' + employee.last_name %></label>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <button type = "submit" id = "submit"  class = "btn btn-light btn-sm">Create</button>
</form>
