<h1>Managed Venues</h1>
<p><a href = "/venues/new">Create New Venue</a></p>
    <% current_user(session).venues.each do |venue| %>
        <h2><a href = "/venues/<%= venue.id %>"><%= venue.name %></a></h2>
        <p>
            <%= venue.address1 %><br>
            <%= venue.address2 %><br>
            <%= venue.city %>, <%= venue.state %> <% venue.zip %><br>
            <br><br>
        </p>
    <% end %>
