<h1>Managed Venues</h1>
<form method = "GET" action = "/venues/new">
<button type = "submit" class = "btn btn-light btn-sm">Create New Venue</button>
</form>
<br>
<% current_user(session).venues.each do |venue| %>
    <h2><a href = "/venues/<%= venue.id %>"><%= venue.name %></a></h2>
    <p><%= venue.address1 %><br>
        <%= venue.address2 %><br>
        <%= venue.city %>, <%= venue.state %> <%= venue.zip %><br></p>
    <% end %>
