<h3>Managed Venues</h3>
<% current_user(session).venues.each do |venue| %>
    <h4><a href = "/venues/<%= venue.id %>"><%= venue.name %></a></h4>
    <p><%= venue.address1 %><br>
        <%= venue.address2 %><br>
        <%= venue.city %>, <%= venue.state %> <%= venue.zip %><br></p>
    <% end %>
<a href = "/venues/new" role = "button" class = "btn btn-light btn-block med-block">Create Venue</a>