<h1>Edit <%= @venue.name %></h1>
<form method = "POST" action = "/venues/<%= @venue.id %>">
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
<h3>Venue Name</h3>
<table>
    <tr>
        <td><label for = "venue_name">Venue Name:</label></td>
        <td><input type = "text" id = "venue_name" name = "name" value = "<%= @venue.name %>" required = "required"></td>
    </tr>
</table>
<h3>Address</h3>
<table>
    <tr>
        <td><label for = "address_line_1">Address Line 1:</label></td>
        <td><input type = "text" id = "address_line_1" name = "address1" value = "<%= @venue.address1 %>"></td>
    </tr>
    <tr>
        <td><label for = "address_line_2">Address Line 2:</label></td>
        <td><input type = "text" id = "address_line_2" name = "address2" value = "<%= @venue.address2 %>"></td>
    </tr>
    <tr>
        <td><label for = "city">City:</label></td>
        <td><input type = "text" id = "city" name = "city" value = "<%= @venue.city %>"></td>
    </tr>
    <tr>
        <td><label for = "state">State:</label></td>
        <td><input type = "text" id = "state" name = "state" value = "<%= @venue.state %>" pattern = "\b[A-Z][A-Z]\b" placeholder = "e.g. DC, TX, NY"></td>
    </tr>
    <tr>
        <td><label for = "zip_code">Zip Code:</label></td>
        <td><input type = "text" id = "zip_code" name = "zip" value = "<%= @venue.zip %>" pattern = "\d\d\d\d\d(-\d\d\d\d)?" placeholder = "e.g. 00000 or 00000-0000"></td>
    </tr>
</table>
<h3>Stage Information</h3>
<table>
    <tr>
        <td><label for = "configuration">Configuration:</label></td>
        <td><input type = "text" id = "configuration" name = "stage_type" value = "<%= @venue.stage_type %>" required = "required"></td>
    </tr>
    <tr>
        <td><label for = "seat_count">Seat Count:</label></td>
        <td><input type = "number" id = "seat_count" name = "seats" value = "<%= @venue.seats %>" required = "required"></td>
    </tr>
</table>
<h3>Room Count</h3>
<table>
    <tr>
        <td><label for = "greenrooms">Greenrooms:</label></td>
        <td><input type = "number" id = "greenrooms" name = "greenrooms" value = "<%= @venue.greenrooms %>"></td>
    </tr>
    <tr>
        <td><label for = "dressing_rooms">Dressing Rooms:</label></td>
        <td><input type = "number" id = "dressing_rooms" name = "dressing_rooms" value = "<%= @venue.dressing_rooms %>"></td>
    </tr>
</table>
<button type = "submit" id = "submit" class = "btn btn-light btn-sm">Update</button>
</form>
