<h3>Edit <%= @venue.name %></h3>
<form method = "POST" action = "/venues/<%= @venue.id %>">
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
    <div class = "form-group">
        <label for = "venue_name">Venue Name</label>
        <input type = "text" class = "form-control" id = "venue_name" name = "name" required = "required" value = "<%= @venue.name %>">
    </div>
    <div class = "form-group">
        <label for = "address_line_1">Address Line 1</label>
        <input type = "text" class = "form-control" id = "address_line_1" name = "address1" value = "<%= @venue.address1 %>">
    </div>
    <div class = "form-group">
        <label for = "address_line_2">Address Line 2</label>
        <input type = "text" class = "form-control" id = "address_line_2" name = "address2" value = "<%= @venue.address2 %>">
    </div>
    <div class = "form-row">
        <div class = "form-group col-md-6">
            <label for = "city">City</label>
            <input type = "text" class = "form-control" id = "city" name = "city" value = "<%= @venue.city %>">
        </div>
        <div class = "form-group col-md-4">
            <label for = "state">State</label>
            <select id="state" class = "form-control" name = "state">
                <% @states = ['AL', 'AK', 'AR', 'AZ', 'CA', 'CO', 'CT', 
                            'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 
                            'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD',
                            'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC',
                            'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'ND',
                            'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD',
                            'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WI',
                            'WV', 'WY'] %>
                <% @states.each do |st_iso| %>
                    <option value="<%= st_iso %>" <%= 'selected' if @venue.state == st_iso %>><%= st_iso %></option>
                <% end %>
            </select>
        </div>
        <div class = "form-group col-md-2">
            <label for = "zip_code">Zip</label>
            <input type = "text" class = "form-control" id = "zip_code" name = "zip" pattern = "\d\d\d\d\d(-\d\d\d\d)?"  value = "<%= @venue.zip %>">
        </div>
    </div>
    <div class = "form-row">
        <div class = "form-group col-md-6">
            <label for = "configuration">Configuration</label>
            <select class = "form-control" id = "configuration" name = "stage_type" required = "required">
                <option value = "Proscenium" <%= 'selected' if @venue.stage_type == 'Proscenium' %>>Proscenium</option>
                <option value = "Arena" <%= 'selected' if @venue.stage_type == 'Arena' %>>Arena</option>
                <option value = "Thrust" <%= 'selected' if @venue.stage_type == 'Thrust' %>>Thrust</option>
                <option value = "Studio" <%= 'selected' if @venue.stage_type == 'Studio' %>>Studio</option>
                <option value = "Blackbox" <%= 'selected' if @venue.stage_type == 'Blackbox' %>>Blackbox</option>
                <option value = "Flexible" <%= 'selected' if @venue.stage_type == 'Flexible' %>>Flexible</option>
                <option value = "Outdoor" <%= 'selected' if @venue.stage_type == 'Outdoor' %>>Outdoor</option>
            </select>
        </div>
        <div class = "form-group col-md-6">
            <label for = "seat_count">Seat Count</label>
            <input type = "number" class = "form-control" id = "seat_count" name = "seats" required = "required" value = "<%= @venue.seats %>">
        </div>
    </div>
    <div class = "form-row">
        <div class = "form-group col-md-6">
            <label for = "greenrooms">Greenrooms</label>
            <input type = "number" class = "form-control" id = "greenrooms" name = "greenrooms" value = "<%= @venue.greenrooms %>">
        </div>
        <div class = "form-group col-md-6">
            <label for = "dressing_rooms">Dressing Rooms</label>
            <input type = "number" class = "form-control" id = "dressing_rooms" name = "dressing_rooms" value = "<%= @venue.dressing_rooms %>">
        </div>
    </div>
    <button type = "submit" id = "submit" class = "btn btn-light btn-sm">Update</button>
</form>