<% if is_logged_in?(session) && current_user(session).venues.include?(@venue)%>

<h1>Edit <%= @venue.name %></h1>

<form method = "POST" action = "/venues/<%= @venue.id %>">
<input type = "hidden" id = "hidden" name = "_method" value = "PATCH">
<h3>Venue Name</h3>
<p><label>Venue Name:</label><input type = "text" id = "venue_name" name = "name" value = "<%= @venue.name %>"></p>
<br>
<h3>Address</h3>
<p><label>Address Line 1:</label><input type = "text" id = "address_line_1" name = "address1" value = "<%= @venue.address1 %>"></p>
<p><label>Address Line 2:</label><input type = "text" id = "address_line_2" name = "address2" value = "<%= @venue.address2 %>"></p>
<p><label>City:</label><input type = "text" id = "city" name = "city" value = "<%= @venue.city %>"></p>
<p><label>State:</label><input type = "text" id = "state" name = "state" value = "<%= @venue.state %>"></p>
<p><label>Zip Code:</label><input type = "text" id = "zip_code" name = "zip" value = "<%= @venue.zip %>"></p>
<br>
<h3>Stage Information</h3>
<p><label>Configuration:</label><input type = "text" id = "configuration" name = "stage_type" value = "<%= @venue.stage_type %>"></p>
<p><label>Seat Count:</label><input type = "number" id = "seat_count" name = "seats" value = "<%= @venue.seats %>"></p>
<br>
<h3>Room Count</h3>
<p><label>Greenrooms:</label><input type = "number" id = "greenrooms" name = "greenrooms" value = "<%= @venue.greenrooms%>"></p>
<p><label>Dressing Rooms:</label><input type = "number" id = "dressing_rooms" name = "dressing_rooms" value = "<%= @venue.dressing_rooms%>"></p>
<input type = "submit" id = "update" value = "Update">
</form>

<% else %>
<% redirect '/' %>
<% end %>