<h1><%= @venue.name %></h1>
<p><%= @venue.address1 %><br>
<%= @venue.address2 %><br>
<%= @venue.city %>, <%= @venue.state %> <%= @venue.zip %></p>
<p>Configuration: <%= @venue.stage_type %><br>
Seats: <%= @venue.seats %></p>
<p>Greenrooms: <%= @venue.greenrooms %><br>
Dressing Rooms: <%= @venue.dressing_rooms %></p>
<p><a href = "/venues/<%= @venue.id %>/edit">Edit</a> <a href = "/venues/<%= @venue.id %>/delete">Delete</a></p>

<h2>Bookings</h2>
<p>
<% @venue.bookings.sort_by { |b| b.date }.each do |booking| %>
    <a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.tenant.org_name %></a><br>
<% end %>
</p>
<p><a href = "/bookings/new">Create New Booking</a></p>

<h2>Inventories</h2>
<p>
<% @venue.inventories.each do |inventory| %>
    <a href = "/venues/<%= @venue.id %>/inventories/<%= inventory.id %>"><%= inventory.name %></a><br>
<% end %>
</p>
<p><a href = "/venues/<%= @venue.id %>/inventories/new">Create New Inventory</a></p>
