<% if is_logged_in?(session) && current_user(session).venues.include?(@venue) %>
<h1><%= @venue.name %></h1>
<p><%= @venue.address1 %></p>
<p><%= @venue.address2 %></p>
<p><%= @venue.city %>, <%= @venue.state %> <% @venue.zip %></p>
<br>
<p>Configuration: <%= @venue.stage_type %></p>
<p>Seats: <%= @venue.seats %></p>
<br><br>
<a href = "/venues/<%= @venue.id %>/edit">Edit Venue</a>
<% else %>
<% redirect '/home' %>
<% end %>