<h1>Welcome, <%= current_user(session).first_name %>!</h1>
    <% if !current_user(session).venues.empty? %>
        <h3>Tasks</h3>
            <% if current_user(session).tasks.empty? %>
                <p>No tasks. Create tasks <a href = "/tasks/new">here</a>.</p>
            <% else %>
                <table>
                <% current_user(session).tasks.each do |task| %>
                    <tr>
                        <td><%= task.name %> - <%= task.content %></td>
                        <td><a href = "/tasks/<%= task.id %>/edit">Edit</a></td>
                        <td><a href = "/tasks/<%= task.id %>/delete">Complete</a></td>
                    </tr>
                <% end %>
                </table>
                <p><a href="/tasks/new">Create New Task</a></p>
            <% end %>
        <h3>Upcoming Bookings</h3>
            <% if current_user(session).bookings.select { |b| b.date > Date.today}.empty? %>
                <p>No upcoming bookings. Create bookings <a href = "/bookings/new">here</a>.</p>
            <% else %>
                <table>
                <% current_user(session).bookings.select { |b| b.date > Date.today}.sort_by { |b| b.date }.each do |booking| %>
                        <tr><td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.tenant.org_name %></a></td></tr>
                <% end %>
                </table>
            <% end %>
        <h3>Previous Bookings</h3>
            <% if current_user(session).bookings.select { |b| b.date < Date.today }.empty? %>
                <p>No previous bookings.</p>
            <% else %>
                <table>
                <% current_user(session).bookings.select { |b| b.date < Date.today}.sort_by { |b| b.date }.each do |booking| %>
                        <tr><td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.tenant.org_name %></a></td></tr>
                <% end %>
                </table>
            <% end%>
    <% else %>
        <h3>Get Started!</h3>
        <p>Create your first venue by clicking <a href = "/venues/new">here</a>.</p>
        <br>
        <br>
        <button type = "button" class = "btn btn-light btn-sm">Create</button>
    <% end %>
