<h1>Welcome, <%= current_user(session).first_name %>!</h1>
    <% if !current_user(session).venues.empty? %>
        <h3>Tasks</h3>
            <table>
                <% current_user(session).tasks.each do |task| %>
                    <tr>
                        <td><%= task.name %> - <%= task.content %></td>
                        <td><form method = "GET" action = "/tasks/<%= task.id %>/edit">
                            <button type = "submit" class = "btn btn-light btn-sm">Edit</button>
                            </form></td>
                        <td><form method = "GET" action = "/tasks/<%= task.id %>/delete">
                            <button type = "submit" class = "btn btn-light btn-sm">Delete</button>
                            </form></td>
                    </tr>
                <% end %>
            </table>
            <form method = "GET" action = "/tasks/new">
            <button type = "submit" class = "btn btn-light btn-sm">Create New Task</button>
            </form>
            <br>
        <h3>Upcoming Bookings</h3>
            <% if current_user(session).bookings.select { |b| b.date > Date.today}.empty? %>
                <p>No upcoming bookings.</p>
            <% else %>
                <table>
                <% current_user(session).bookings.select { |b| b.date > Date.today}.sort_by { |b| b.date }.each do |booking| %>
                        <tr><td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.tenant.org_name %></a></td></tr>
                <% end %>
                </table>
            <% end %>
                <form method = "GET" action = "/bookings/new">
                <button type = "submit" class = "btn btn-light btn-sm">Create New Booking</button>
                </form>
                <br>
        <h3>Previous Bookings</h3>
            <% if current_user(session).bookings.select { |b| b.date < Date.today }.empty? %>
                <p>No previous bookings.</p>
            <% else %>
                <table>
                <% current_user(session).bookings.select { |b| b.date < Date.today}.sort_by { |b| b.date }.each do |booking| %>
                        <tr><td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.tenant.org_name %></a></td></tr>
                <% end %>
                </table>
            <% end %>
    <% else %>
        <h3>Get Started!</h3>
        <p>Create your first venue by clicking below.</p>
        <form method = "GET" action = "/venues/new">
        <button type = "submit" class = "btn btn-light btn-sm">Create New Venue</button>
        </form>
    <% end %>
