<h1>Welcome, <%= current_user(session).first_name %>!</h1>
    <% if !current_user(session).venues.empty? %>
        <h3>Upcoming Bookings</h3>
            <% if current_user(session).bookings.empty? %>
                <p>No upcoming bookings. Create bookings <a href = "/bookings/new">here</a>.</p>
            <% else %>
                <table>
                <% current_user(session).bookings.sort_by { |b| b.date }.each do |booking| %>
                    <% if booking.date > Date.today %>
                        <tr>
                            <td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.tenant.org_name %></a></td>
                        </tr>
                    <% end %>
                <% end %>
                </table>
            <% end %>
        <h3>Previous Bookings</h3>
            <% if current_user(session).bookings.map { |b| b.date < Date.today }.empty? %>
                <p>No previous bookings.</p>
            <% else %>
                <table>
                <% current_user(session).bookings.sort_by { |b| b.date }.each do |booking| %>
                    <% if booking.date < Date.today %>
                        <tr>
                            <td><a href = "/bookings/<%= booking.id %>"><%= booking.date %> - <%= booking.tenant.org_name %></a></td>
                        </tr>
                    <% end %>
                <% end %>
                </table>
            <% end%>
    <% else %>
        <h3>Get Started!</h3>
        <p>Create your first venue by clicking <a href = "/venues/new">here</a>.</p>
    <% end %>